@model PizzaBox.Client.Models.CustomerViewModel

<form asp-action="CreatePizza" asp-controller="customer" asp-antiforgery="true" method="POST">    
    @foreach (var item in Model.Order.Pizzas)
    {
        
    }
</form>