@model PizzaBox.Client.Models.CustomerViewModel
@{
    ViewBag.Title = "Customer - Current";
    Layout = "_CustomerLayout";
}

@Html.Partial("CreateOrder")
View Current Order

<section>
    @foreach (var pizza in Model.Order.CurrentOrder.Pizzas)
    {
        <p>
            Pizza: @pizza.ToString()
        </p>
        <p>
            Crust: @pizza.Crust
        </p>
        <p>
            Size: @pizza.Size
        </p>
    }
    <p>
    Current Price: $@Model.Order.CurrentOrder.TotalPrice
    </p>
    <form asp-action="Checkout" asp-controller="customer" asp-antiforgery="true" method="POST">
        <button type="submit">Finish Order</button>
    </form>
</section>