@model PizzaBox.Client.Models.CustomerViewModel
@{
    ViewBag.Title = "Customer - User";
    Layout = "_CustomerLayout";
}
<section>
    User Selected
    Current User: @Model.Name
</section>

@Html.Partial("StoreSelect")

<Section>
    Order History
    
    @foreach (var item in Model.Order.OrderHistory)
    {
        <p>
            Store: @item.Store.Name 
        </p>
        <p>
            User: @item.User.Username
        </p>
        <p>
            Price: $@item.TotalPrice
        </p>
       
    }
</Section>